<div class="c-disqus-comments">
    {{! Replace Code From Here }}
    <div id="disqus_thread"></div>
    <script>
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//yourssite.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    {{! Replace Code Until Here }}
</div>