<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{meta_title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic" rel="stylesheet">
