<div class="mobile-header">
    <a href="#" id="mobile-menu" class="mobile-menu">
        Menu
    </a>

    <a class="mobile-logo" href="{{@blog.url}}" title="John Doe">
        <img src="{{@blog.logo}}" alt="John Doe">
    </a>
</div>