<div class="c-mobile-header">
    <a href="#" id="mobile-menu" class="c-mobile-header__link" title="Menu">
        Menu
    </a>

    <a class="c-mobile-header__logo" href="{{@blog.url}}" title="{{@blog.title}}">
        <img class="c-mobile-header__logo__image" src="{{@blog.logo}}" alt="{{@blog.title}}">
    </a>
</div>