<div class="mobile-header">
    <a href="#" id="mobile-menu" class="mobile-menu">
        Menu
    </a>

    <a class="mobile-logo" href="{{@blog.url}}" title="{{@blog.title}}">
        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
    </a>
</div>