<div class="c-sidebar-navigation">
    {{#foreach navigation}}
        <a class="c-sidebar-navigation__item" href="{{url absolute="true"}}" title="{{label}}">
            {{label}}
        </a>
    {{/foreach}}
</div>