<div class="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Newer</a>
    {{/if}}

    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older &rarr;</a>
    {{/if}}
</div>