<div class="c-post-view-meta">
    {{date format="MMMM DD, YYYY"}}

    {{#if tags}}
        in
        <span class="c-post-view-meta__tags">
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}">#{{name}}</a>
            {{/foreach}}
        </span>
    {{/if}}
</div>