<div class="post-meta">
    <span class="time">
        {{date format="DD MMMM, YYYY"}}
    </span>

    {{#if tags}}
        in
        <span class="tags">
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}">#{{name}}</a>
            {{/foreach}}
        </span>
    {{/if}}|

    <span class="share">
        {{> "share-links"}}
    </span>
</div>