<div class="c-post-view-share">
    <a class="c-post-view-share__item c-post-view-share__item--twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        Share on Twitter
    </a>
    <a class="c-post-view-share__item c-post-view-share__item--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        Share on Facebook
    </a>
    <a class="c-post-view-share__item c-post-view-share__item--google" href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        Share on Google+
    </a>
</div>