<div class="sidebar-links">
    <a href="#" target="_blank">
        github
    </a>

    <a href="#" target="_blank">
        twitter
    </a>

    <a href="#" target="_blank">
        linkedin
    </a>
</div>