################################################################################
# Exclude node_modules/ folder from theme files
################################################################################
node_modules/
