{{!< default}}
<div class="c-page-title">
    <h1 class="c-page-title__heading">
        Error
    </h1>
</div>

<div class="c-error-message">
    This page does not exist..<br/>
    <a href="{{@blog.url}}" title="Go Home">Click Here To Go Home!</a>
</div>