/*
 | -----------------------------------------------------------------------------
 | Print styles
 | -----------------------------------------------------------------------------
*/
.content {
  margin-left: 0 !important;
}

.sidebar, .mobile-header, .post-image {
  display: none !important;
}