/*
|-------------------------------------------------------------------------------
| Configuration
|-------------------------------------------------------------------------------
*/
$c-white: #ffffff;

$c-grayDark: #555555;
$c-grayLight: #f7f7f7;
$c-grayMedium: #eaeaea;
$c-grayAccent: #888888;

$sidebarWidth: 290px;
$maxPageWidth: 1000px;

/*
|-------------------------------------------------------------------------------
| Tools
|-------------------------------------------------------------------------------
*/
@import "tools/mixins";

/*
|-------------------------------------------------------------------------------
| Generic / Reset / Normalize
|-------------------------------------------------------------------------------
*/
@import "vendor/normalize";

/*
|-------------------------------------------------------------------------------
| Base elements / Un-classed elements
|-------------------------------------------------------------------------------
*/
@import "elements/elements";

/*
|-------------------------------------------------------------------------------
| Components
|-------------------------------------------------------------------------------
*/
@import "components/site-wrapper";
@import "components/site-viewport";
@import "components/site-sidebar";
@import "components/site-content";
@import "components/mobile-header";
@import "components/sidebar-header";
@import "components/sidebar-blog-title";
@import "components/sidebar-blog-description";
@import "components/sidebar-contact-links";
@import "components/sidebar-navigation";
@import "components/sidebar-promotion-links";
@import "components/post-list";
@import "components/post-pagination";
@import "components/post-view";
@import "components/post-view-meta";
@import "components/post-view-share";
@import "components/error-message";

/*
|-------------------------------------------------------------------------------
| Helpers / Overrides
|-------------------------------------------------------------------------------
*/
@import "helpers/classes";