/*
|-------------------------------------------------------------------------------
| Configuration
|-------------------------------------------------------------------------------
*/
$c-white     : #ffffff;
$c-black     : #555555;
$c-gray      : #eaeaea;
$c-grayDark  : #888888;
$c-background: #f7f7f7;

$sidebarWidth: 300px;
$maxPageWidth: 1000px;

/*
|-------------------------------------------------------------------------------
| Tools
|-------------------------------------------------------------------------------
*/
@import "tools/mixins";

/*
|-------------------------------------------------------------------------------
| Generic / Reset / Normalize
|-------------------------------------------------------------------------------
*/
@import "vendor/normalize";

/*
|-------------------------------------------------------------------------------
| Base elements / Un-classed elements
|-------------------------------------------------------------------------------
*/
@import "elements/elements";

/*
|-------------------------------------------------------------------------------
| Components
|-------------------------------------------------------------------------------
*/
@import "components/site-wrapper";
@import "components/site-viewport";
@import "components/site-sidebar";
@import "components/site-content";

@import "components/mobile-header";
@import "components/error-message";

@import "components/post-list";
@import "components/post-view";
@import "components/post-pagination";

@import "components/page-title";
@import "components/author-page";
@import "components/disqus-comments";

/*
|-------------------------------------------------------------------------------
| Helpers / Overrides
|-------------------------------------------------------------------------------
*/
@import "helpers/classes";