/*
|-------------------------------------------------------------------------------
| Error message - 404 page
|-------------------------------------------------------------------------------
*/
.c-error-message {
  line-height: 2em;
  text-align: center;
  color: $c-grayAccent;
}