/*
|-------------------------------------------------------------------------------
| Page title
|-------------------------------------------------------------------------------
*/
.c-page-title {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px 0 35px 0;
  border-bottom: 1px solid $c-gray;
}

.c-page-title__heading__tag {
  text-transform: lowercase;
}