/*
|-------------------------------------------------------------------------------
| Post view
|-------------------------------------------------------------------------------
*/
// Content
.c-post-view__content {
  @extend .markdown;
}

// Footer
.c-post-view__footer {
  text-align: center;
  margin-top: 40px;
  padding: 40px 0 10px;
  border-top: 1px solid $c-gray;
}

// Narrow post page view
.c-post-view--narrow {
  text-align: center;
  max-width: 610px;
  margin: 0 auto;
}