/*
|-------------------------------------------------------------------------------
| Post view meta - date & tags
|-------------------------------------------------------------------------------
*/
.c-post-view-meta {
  line-height: 2;
  font-size: 0.8em;
  font-style: italic;
  color: $c-grayDark;
}

.c-post-view-meta__tags {
  text-transform: lowercase;
}

.c-page-title__heading + .c-post-view-meta {
  margin-top: 20px;
}