/*
|-------------------------------------------------------------------------------
| Post view share - share on Twitter, Facebook and Google+
|-------------------------------------------------------------------------------
*/
.c-post-view-share {
  font-weight: bold;
}

.c-post-view-share__item--twitter {
  color: #4099FF;
}

.c-post-view-share__item--facebook {
  color: #3B5998;
}

.c-post-view-share__item--google {
  color: #d34836;
}