/*
|-------------------------------------------------------------------------------
| Sidebar contact links - github, linkedin, twitter, etc.
|-------------------------------------------------------------------------------
*/
.c-sidebar-contact-links {
  font-size: 0.8em;
  margin-bottom: 20px;
  padding: 0 15px 20px;
  border-bottom: 1px solid $c-gray;
}

.c-sidebar-contact-links__item {
  padding: 0 5px;
}