/*
|-------------------------------------------------------------------------------
| Sidebar navigation
|-------------------------------------------------------------------------------
*/
.c-sidebar-navigation {
  font-size: 0.9em;
  margin-bottom: 20px;
  padding: 0 15px 20px;
  border-bottom: 1px solid $c-gray;
}

.c-sidebar-navigation__item {
  padding: 5px;
  font-weight: bold;
  display: inline-block;
}