/*
|-------------------------------------------------------------------------------
| Sidebar blog description
|-------------------------------------------------------------------------------
*/
.c-sidebar-blog-description {
  padding: 0 20px;
  font-size: 0.8em;
  color: $c-grayDark;
  margin-bottom: 20px;
  font-weight: normal;
}