/*
|-------------------------------------------------------------------------------
| Sidebar blog description
|-------------------------------------------------------------------------------
*/
.c-sidebar-blog-description {
  font-size: 0.8em;
  font-weight: normal;
  color: $c-grayAccent;
  margin-bottom: 20px;
}