/*
|-------------------------------------------------------------------------------
| Site wrapper
|-------------------------------------------------------------------------------
*/
.c-site-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}